<html>

<head>
    <style>
        .boxAll ul li a {
            display: block;
        }

        .boxAll ul li a img {
            width: 100%;
            height: 100%;
        }


        .boxAll{}
        .boxAll ul{
    padding: 0px;
    margin: 0 -30px 30px;
    display: flex;
    justify-content: space-between;
}
        .boxAll ul li{     width: 317px;
    list-style: none;
    display: inline-block;
    height: 204px;
    margin:0 0 10px 0}

.boxAll ul li a{ height:100%  }
.boxAll ul li a img{
}
    </style>
</head>

<body>
    <div class="boxAll">
        {% for x in no_of_cards %}
        <ul>
            <li><a href="#0"><img src="{{front_image_url}}" style="border-radius:10px;"></a></li>
            <li><a href="#0"><img src="{{front_image_url}}"></a></li>
        </ul>
        <ul>
            <li><a href="#0"><img src="{{front_image_url}}"></a></li>
            <li><a href="#0"><img src="{{front_image_url}}"></a></li>
        </ul>
        <ul>
            <li><a href="#0"><img src="{{front_image_url}}"></a></li>
            <li><a href="#0"><img src="{{front_image_url}}"></a></li>
        </ul>
        <ul>
            <li><a href="#0"><img src="{{front_image_url}}"></a></li>
            <li><a href="#0"><img src="{{front_image_url}}"></a></li>
        </ul>
        <ul>
            <li><a href="#0"><img src="{{back_image_url}}"></a></li>
            <li><a href="#0"><img src="{{back_image_url}}"></a></li>
        </ul>
        <ul>
            <li><a href="#0"><img src="{{back_image_url}}"></a></li>
            <li><a href="#0"><img src="{{back_image_url}}"></a></li>
        </ul>
        <ul>
            <li><a href="#0"><img src="{{back_image_url}}"></a></li>
            <li><a href="#0"><img src="{{back_image_url}}"></a></li>
        </ul>
        <ul>
            <li><a href="#0"><img src="{{back_image_url}}"></a></li>
            <li><a href="#0"><img src="{{back_image_url}}"></a></li>
        </ul>
        {% endfor %}
        <div class="mainFlex">
            {% for x in remainder %}
            {% if forloop.counter|divisibleby:2 %}
            <ul class="right-img disFlex"
                style=" width: 249.449px;height: 161.575px;margin-bottom: 8px;">
                <li class="disFlex" style="
                min-width: 249.449px;
                min-height: 161.575px;
                max-width: 249.449px;
                max-height: 161.575px;"><a href="#0"><img src="{{front_image_url}}"></a></li>
            </ul>
            {% else %}
            <ul class="left-img disFlex"
                style=" width: 249.449px;height: 161.575px;margin-bottom: 8px;">
                <li class="disFlex" style="
                min-width: 249.449px ;
                min-height: 161.575px ;
                max-width: 249.449px ;
                max-height: 161.575px ;
                margin-left: 5px;"><a href="#0"><img src="{{front_image_url}}"></a></li>
            </ul>
            {% endif %}
            {% endfor %}

        </div>


        <div class="mainFlex">
            {% for x in remainder %}
            {% if forloop.counter|divisibleby:2 %}
            <ul class="right-img disFlex"
                style=" width: 249.449px;height: 161.575px;margin-bottom: 8px;">
                <li class="disFlex" style="
                min-width: 249.449px;
                min-height: 161.575px;
                max-width: 249.449px;
                max-height: 161.575px;"><a href="#0"><img src="{{back_image_url}}"></a></li>
            </ul>
            {% else %}
            <ul class="left-img disFlex"
                style=" width: 249.449px;height: 161.575px;margin-bottom: 8px;">
                <li class="disFlex" style="
                min-width: 249.449px ;
                min-height: 161.575px ;
                max-width: 249.449px ;
                max-height: 161.575px ;
                margin-left: 5px;"><a href="#0"><img src="{{back_image_url}}"></a></li>
            </ul>
            {% endif %}
            {% endfor %}

        </div>
    </div>
</body>

</html>